body {
    margin: 0;
}
nav ul {
    text-align: left!important;
    padding:0!important;
    padding-inline-start: 0!important;
    background: red;
}
nav ul li {
    cursor: pointer;
    color: blue;
    transition: 0.3s ease-in-out;
}
nav ul a {
    color: blue;
    text-decoration: none;
}
nav ul li:hover {
    background: blue;
    color: blanchedalmond;
}
header {
    background-color: crimson;
}
footer {
    background-color: gold;
}
main {
    background-color: darkorchid;
    text-align: justify;
    max-height: 80vh;
    overflow: auto;
}
@media all and (min-width: 767px) {
    nav ul {
        list-style-type: none!important;
    }
    nav ul:first-child li {
        padding: 18px;
    }
    nav ul .order ul {
        display: none;
        margin-bottom: 5px;
    }
    nav ul .order ul li {
        opacity: 0;
        height: 0;
        padding: 0!important;
        margin: 0!important;
        transition: 0.4s ease-in-out;
        animation: menu 0.5s backwards;
        animation-delay: 0.75s;
    }
    nav .order:focus > ul:nth-child(2), nav .order:hover > ul:nth-child(2) {
        display: block;
    }
    nav .order:focus > ul:nth-child(2) li, nav .order:hover > ul:nth-child(2) li {
        animation: menu 0.5s forwards;
        animation-delay: 0.55s;
    }
}
@media all and (max-width:767px) {
    nav {
        position: relative;
        text-align: center!important;
    }
    nav ul {
        list-style-type: none!important;
    }
    nav ul li {
        text-align: center;
    }
    
    nav ul:first-child {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    nav ul:first-child li {
        margin-bottom: 10px!important;
    }
    nav .order > ul:nth-child(2) li {
        opacity: 0;
        height: 0;
    }
    nav .order ul:nth-child(2) {
        top: 0;
        display: none;
    }
    nav .order:focus > ul:nth-child(2), nav .order:hover > ul:nth-child(2) {
        position: absolute;
        top: calc(100% - 8px);
        display: block;
        animation: menuTwo 0.5s forwards;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 5px!important;
    }
    nav .order:focus > ul:nth-child(2) li, nav .order:hover > ul:nth-child(2) li {
        animation: menu 0.5s forwards;
        margin: 0!important;
    }
}
@keyframes menu {
    0% {
        opacity: 0;
        height: 0;
        margin: 0;
    }
    100% {
        opacity: 1;
        margin: 5px;
        padding: 10px!important;
        height: 30px;
    }
}
@keyframes menuTwo {
    0% {
        border: 0px solid black;
    }
    100% {
        border: 2px solid blue;
    }
}